<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="ISO-8859-1">
  <title>Product Management System</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

  <style>
    .navbar-brand {
      display: flex;
      /*justify-content: flex-end;*/
      align-items: flex-start;
    }
    body{
      background-color: white;
    }
    .a a {
      display: inline-block;
      padding: 10px 20px;
      border: 2px solid white;
      border-radius: 25px;
      text-decoration: none;
      font-size: 1.2em;
      color: #fff;
      background-color: #007bff;
      transition: all 0.3s ease-in-out;
      margin: 10px;
      text-align: center;
    }
    .a a:hover {
      background-color: #0069d9;
      color: #fff;
      border: 2px solid #0069d9;
    }
  </style>

</head>
<body>
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span> <span
            class="icon-bar"></span> <span class="icon-bar"></span> <span
            class="icon-bar"></span>
    </button>
    <div class="navbar">
      <a class="navbar-brand" href="#" th:href="@{/admin/home}"><i class="fa-solid fa-house-user fa-2xl"></i></a>
      <a class="navbar-brand" href="#" th:href="@{/searchPeople}"><i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #80b027;"></i></a>

      <button><a class="navbar-brand" th:href="@{/logout}"><i style="color: #ff9500;"></i> Logout</a></button>


      </p>
    </div>

  </div>
  <div class="container my-2">
  <h1>Users List</h1>
  <table border="1" class = "table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>User ID</th>
      <th>User First Name</th>
      <th>User Last Name</th>
      <th>User Email</th>
      <th>User Role</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${listPeople}">
      <td th:text="${employee.id}"></td>
      <td th:text="${employee.firstName}"></td>
      <td th:text="${employee.lastName}"></td>
      <td th:text="${employee.email}"></td>
      <td th:text="${employee.role}"></td>
      <td>
        <a th:href="@{/showPeopleForUpdate/{id}(id=${employee.id})}" class="btn btn-outline-light" onclick="return confirmUpdate()"><i class="fa-solid fa-pen-to-square fa-bounce fa-2xl" style="color: #25d818;"></i></a><br>
      </td>
      <td>
        <a th:href="@{/deletePeople/{id}(id=${employee.id})}" class="btn btn-outline-light" onclick="return confirmDelete()"><i class="fa-solid fa-trash fa-beat-fade fa-2xl" style="color: #f70202;"></i></a><br>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
<script>
  function confirmDelete() {
    var confirmation = confirm("Are you sure you want to delete?");
    if (confirmation) {
      // User clicked "OK" in the confirmation dialog
      // Continue with the link navigation
      return true;
    } else {
      // User clicked "Cancel" in the confirmation dialog
      // Cancel the link navigation
      return false;
    }
  }
</script>
<script>
  function confirmUpdate() {
    var confirmation = confirm("Are you sure you want to update?");
    if (confirmation) {
      // User clicked "OK" in the confirmation dialog
      // Continue with the link navigation
      return true;
    } else {
      // User clicked "Cancel" in the confirmation dialog
      // Cancel the link navigation
      return false;
    }
  }
</script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>